body {
    background-color: rgb(21, 32, 43);
    margin: 0;
    padding: 0;
}
* {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 23% 45% 32%; 
}

/* MENU PRINCIPAL */
header {
    grid-area: header;
    grid-column: 1/2;
    grid-row: 1/2;
}

header .logo a{
    padding-left: 4%; 
}
header .ajuste-menu {
    position: fixed;
    margin-left: 3.5%;
    height: 100%;
    width: 19%;
}

header .logo {
    width: 100%;
}
header .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6%;
    width: 98%;
    margin-left: 2%;
}
header nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
header nav ul .item{
    margin-bottom: 4px;
    height: 45px;
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

header nav .item-link-menu{
    text-decoration:none;
    padding: 0;
    cursor: pointer;
    padding-bottom: 4px;
    padding-top: 4px;
    height: 100%;
}
header nav .ajuste-menu-2 {
    padding: 9px 9px 9px 9px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
header nav a:hover {
    border-radius: 50px;
    background-color: rgba(29, 161, 242, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
}

header nav a:hover .menu-tit{
    color: rgb(29, 161, 242);
}

header nav a:hover svg path{
    fill: rgb(29, 161, 242);
} 
 header nav .menu-tit{
     font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
     white-space: nowrap;
     line-height: 1.3125;
     font-weight: bold;
     color: #fff;
     margin: 0;
 }

 header nav .ajuste-menu-itens{
    margin-left: 17px;
    margin-right: 13px;
 }

 header .botao-tweet{
     width: 92%;
     margin-bottom: 4px;
     margin-top: 4px;
     height: 44px;
 }

 header .botao-tweet a{
    padding: 0;
    background-color: rgb(29, 161, 242);
    border-radius: 50px;
    padding-left: 26px;
    padding-right: 26px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.3125;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

 }
 header .botao-tweet a:hover{
    background-color: rgb(29, 161, 242, 0.9);
    transition-duration: 0.2s;
 }

 /* CONTEUDO PRINCIPAL */
main {
    grid-area: main;
    border-left:  1px solid rgb(56, 68, 77);
    border-right:  1px solid rgb(56, 68, 77);
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
}
 
main .inicial-topo {
    width: 100%;
    height: 46px;
}

main .fixarisso{
    padding: 0 4px 0 13px;
    background-color: rgb(21, 32, 43);
    display: flex;
    width: 44.8%; 
    height: 46px;
    position: fixed; 
    border-bottom: 1px solid rgb(56, 68, 77);
}

main .topo-titulo {
    width: 90%;
    height: 100%;
}

main .topo-icone {
    width: 10%;
    height: 100%;
}

main .topo-icone a:hover{
    border-radius: 100px;
    background-color: rgba(29, 161, 242, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
}
main .topo-texto {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

main .topo-destaque{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 17px;
}

main .topo-twittar {
    width: 100%;
    height: 95px;
    margin-top: 8px;
}

main .perfil-twittar{
    height: 100%;
    width: 8%;
    display: flex;
    align-items: flex-start;
}

main .perfil-twittar img{
    border-radius: 50px;
}
main .acontece-twittar{
    margin: 0 0 6px 9px;
    width: 90%;
    height: 90%;
}

main .busca-twittar {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    overflow-wrap: break-word;

}
main .input-twittar {
    resize: none;
    -webkit-appearance: none;
    text-align: inherit;
    color: white;
    font-size: inherit;
    font-family: inherit;
    outline-style: none;
    background-color: inherit;
    width: 100%;
    padding: 9px 9px 9px 0;
    border: inherit;
    font: inherit;
    text-shadow: inherit;
}

main .icone-twittar{
    width: 100%;
    height: 50%;
}

main .icones-twittar{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 9px;
}

main .twittar-link{
    width: 21px;
    height: 19px;
}


main .icones-twittar a:hover{
    border-radius: 100px;
    background-color: rgba(29, 161, 242, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
}

main .item-icone-twittar{
    width: 21px;
    height: 19px;
    margin-right: 15px;
    display:flex;
    align-items: center;
}

.botao-twittar{
    width: 30%;
    height: 100%;
    padding-top: 9px;
    display: flex;
    align-items: center;
    opacity: 0.5;
}

 .botao-twittar:hover{
    opacity: 1;
}
.botao-twittarof{
    width: 50%;
    height: 100%;
    background-color: rgb(29, 161, 242);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .botao-twittarof span{
    color: #fff;
    line-height: 1;
    font-weight: bold;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}


main .twitter-do-caralho {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

main .fundo-tweetfirst {
    width: 100%;
    padding: 9px 13px 0 13px; 
    display: flex;
    flex-direction: row;
    height: 100%;
}

main .tweetfirst-maykon-perfil {
    width: 46px;
    display: flex;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

main .tweetfirst-maykon-perfil img {
    border-radius: 50px;
}

main .nome-perfil {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}

main .nome-perfil .usuario {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3125;
}

main .nome-perfil .usuario-inf{
    color: rgb(136, 153, 166);
    margin-left: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    line-height: 1.3125;
    font-size: 13px;
}

main .texto-tweet {
    width: 100%;
    height: 100%;
}

main .texto-tweet span {
    margin: 0;
    color:#fff;
    white-space: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.3125;
    font-weight: 400;
}

main .imagem-tweet {
    margin-top: 9px;
}

main .imagem-tweet img{
    border-radius: 20px;
    border: 0.1px solid #fff;
}

/* CONTEUDO LATERAL DIREITO */
section {
    grid-area: section;
    grid-column: 3/4;
    grid-row: 1/2;
}

section .lateral-buscar {
    margin-bottom: 12px;
    width: 87%;
    height: 46px;
    display: flex;
    align-items: stretch;
}

section .buscar {
    background-color: rgb(37, 51, 65);
    display: flex;
    width: 98%;
    margin-top:6px;
    height: 38px;
    border-radius: 50px;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}

section .icone-buscar{
    width: 10%;
    height: 38px;
    padding-left: 4%;
    display: flex;
    align-items: center;
}

section .imput-buscar {
    height: 36px;
    display: flex;
    align-items: center;
    width: 90%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    overflow-wrap: break-word;
    line-height: 1.3125;

}

section .input-buscar {
    resize: none;
    -webkit-appearance: none;
    text-align: inherit;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    outline-style: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 9px;
    border: inherit;
}

section .titulo-trend{
    width: 100%;
    height: 40px;
    padding: 9px 13px 9px 13px;  
    display: flex;
    align-items: center; 
}

section .titulo-trend span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

section .fundo-trend1{
    width: 100%;
    border-top:  1px solid rgb(56, 68, 77);
    height: 85px;
    padding: 9px 13px 9px 13px;
    display: flex;
    flex-direction: column;
}

section .fundo-trend-efeito{
    width: 100%;
    height: 85px;
    text-decoration: none;
}

main .fundo-trend1 a:hover{
    border-radius: 100px;
    background-color: rgba(29, 161, 242, 0.1);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s;
}

section .trend-titprincipal {
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

section .trend-infprincipal{
    padding-top: 2px;
    color: rgb(136, 153, 166);
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.3125;
}


section .fundo-trend{
    width: 100%;
    border-top:  1px solid rgb(56, 68, 77);
    height: 60px;
    display: flex;
    flex-direction: column;
    padding: 9px 13px 9px 13px;
}

section .fundo-trend span{
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 12px;
    padding-top: 3px;
    font-weight: bold;
}

section .fundo-trend a{
    text-decoration: none;
    color: rgb(29, 161, 242);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

section .fundo-seguir{
    border-top:  1px solid rgb(56, 68, 77);
    display: flex;
    height: 60px;
    flex-direction: row;
    align-items: center;
    padding: 9px 13px 9px 13px;
}

section .img-seguir{
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
}
section .img-seguir img{
    border-radius: 50px;
}

section .usu-seguir{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    height: 90%;
}

section .usu-infor{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

section .usu-infor span{
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    overflow-wrap: break-word;
    line-height: 1.3125;
}